/* reminder for how to add dev notes in css */
* 

body {
    background-color: silver;
    font-family: URW Chancery L, cursive;
    /* pulled from w3.org for the font and changed to color to silver*/
}

/* --- All Elements on Site */
h1 {
    text-decoration: underline;
    text-shadow: 1px 1px 1px white;
    /* underlinded the main header on each page as well as a small white shadow */
}

h3 {
    text-decoration: underline;
    text-underline-offset: 2px;
    /* put an underline on all h3's with a 2px offset so it didnt cut into the font */
}

ul {
   list-style: none;
}

/* End ALL Elements Section */
.navbar, a {
    /* added class id navbar to all html files*/
  width: 100%;
  padding: 4px 0px 10px 4px;
  height: 4vh;
  background-color: lightgrey;
  display: flex;
  gap: 450px;
  text-decoration: none;
  color: black;
}

/* table elements and class changes*/
#table {
  
    text-align: left;
    display: flex;
    justify-content: left;
} 
td, th {
    padding: 8px 25px 0px 0px;
}

/* Form section */
form {
    display: flex;
    flex-direction: column;
    max-width: 290px;
    /* 290px centers h3 with the column */
}

form input {
    margin-bottom: 2px;
}

form button {
    margin-top: 20px;
    font-size: larger;
    font-weight: bolder;
    /*used flex instead of br to space columns as well as gave the submit
    button more space and made it larger with bolder weight */
}